html {
  font-family: Raleway, sans-serif;
}

.top-nav {
  text-decoration: none;
  padding: .5em;
  color: white;
  list-style-type: none;
}

.top-nav:hover {
  color: red;
}

.btn {
  background-color: black;
  padding: 1em;
}

.btn:hover {
  color: red;
}

.btn-p {
  color: white;
}

header {
  background-color: black;
}

footer {
  background-color: black;
}

footer p {
  color: white;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  list-style-type: none;
  color: white;
}

nav a:hover {
  color: red;
}

.banner {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 5em;
}

.banner h1 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .5em;
}

.tour {
  background-image: url(../images/bucket-1.jpg);
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 5em;
}

.tour h3 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .5em;
}

.tour-btn {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.tour-btn:hover {
  color: red;
}

.price {
  background-image: url(../images/bucket-2.jpg);
  background-size: cover;
  padding-top: 2em;
  padding-bottom: 5em;
}

.price h3 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .5em;
}

.price-btn {
  text-decoration: none;
  list-style-type: none;
  color: black;
}

.price-btn:hover {
  color: red;
}

.red {
  color: red;
}

.banner-2 {
  background-image: url(../images/banner-2.jpg);
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.banner-2 h1 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .25em;
}

.banner-3 {
  background-image: url(../images/banner-3.jpg);
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.banner-3 h1 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .25em;
}

.banner-4 {
  background-image: url(../images/banner-4.jpg);
  background-size: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

.banner-4 h1 {
  background-color: rgba(255, 255, 255, 0.75);
  padding: .25em;
}

.signup-box {
  border: 1px solid black;
  padding-right: 6em;
  margin-top: 1em;
  margin-left: 1em;
  padding-bottom: .25em;
}

.signup-box a {
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.signup-box a:hover {
  color: red;
}

.btn-signup {
  background-color: black;
  padding: .25em;
}

.btn-signup:hover {
  color: red;
}

.btn-signup p {
  color: white;
}
